@import url('https://fonts.googleapis.com/css?family=Fjord One');
@import url('https://fonts.googleapis.com/css?family=Geo');
.center{
    margin: auto;
}
table.dataTable table{
    width: 75%;
}
table.dataTable th{
    padding-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(175, 96, 37, .8);
}
table.dataTable tr:hover{ background-color:#ddd;}
table.dataTable tr:nth-child(even){background-color: #f2f2f2}
table.dataTable td, table.dataTable th{
    border: 1px solid #ddd;
    padding: 6px
}

top {
    font-family:'Fjord One'; 
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
subtitle {
    font-family:'Fjord One'; 
    font-size: 18px;
    text-align: center;
}
middle {
    font-family:'Fjord One';
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}
 
.arrowup {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.arrowdown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0s;
}
.button1 {
    background-color: rgb(167, 41, 3);
    color: black;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
}

.button1:hover {
    background-color: rgb(255, 60, 0);
}

.button2 {
    background-color: rgb(167, 41, 3);
    color: black;
    padding: 2px 4px;
    font-size: 13px;
    margin: 4x 2px;
}

.button2:hover {
    background-color: rgb(255, 60, 0);
    padding: 2px 4px;
    font-size: 13px;
    margin: 4px 2px;
}

.button3 {
    background: transparent;
    padding: 1px 1px;
    font-size: 5px;
    margin: 5px 5px;
}