@import url('https://fonts.googleapis.com/css?family=Fjord One');
@import url('https://fonts.googleapis.com/css?family=Geo');
.center{
    margin: auto;
}
top {
    font-family:'Fjord One'; 
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
subtitle {
    font-family:'Fjord One'; 
    font-size: 18px;
    text-align: center;
}
middle {
    font-family:'Fjord One';
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: rgb(167, 41, 3);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0s;
}
.button1 {
    background-color: rgb(167, 41, 3);
    color: black;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
}

.button1:hover {
    background-color: rgb(255, 60, 0);
}

.button2 {
    background-color: rgb(167, 41, 3);
    color: black;
    padding: 2px 4px;
    font-size: 13px;
    margin: 4x 2px;
}

.button2:hover {
    background-color: rgb(255, 60, 0);
    padding: 1px 2px;
    font-size: 12px;
    margin: 4px 2px;
}
