<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='template.css')}}">
</head>
<body>
    <br>
    <center>
        <top>Path of Exile: Expert Trader</top>
        <br>
        <a href = homepage><button class="button button2">Home</button></a>
        <a href = currency><button class="button button2">Currencies</button></a>
        <a href = divination><button class="button button2">Divination Cards</button></a>
    </center>
    <hr>
    <br>
    <center>
    <subtitle>Divination Card Stats</subtitle><br><br>
        <table style="width:75%">
            <tr>
                <td>Divination Card</td>
                <td>Price Per Card</td>
                <td>Trade Item</td>
                <td>Stack Size</td>
                <td>Value of Trade Item</td>
                <td>Price Per Stack</td>
                <td>Net Profit</td>
                <td>Return on Investment</td>
            </tr>
            {% for keys in dStats.keys() %}
            <tr>
                <td>{{keys}}</td>
                {% for items in dStats[keys].values()%}
                    <td>{{items}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>