<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='template.css')}}">
</head>
<body>
    <br>
    <center>
        <top>Welcome to the Path of Exile: Expert Trader</top>
        <br>
        <a href = homepage><button class="button button2">Home</button></a>
        <a href = currency><button class="button button2">Currencies</button></a>
        <a href = divination><button class="button button2">Divination Cards</button></a>
    </center>
    <hr>
    <br>
    <subtitle>The PoE Expert Trader is a tool used to identify money making opportunities for the MMO Path of Exile</subtitle>
    <br><br><br><br>
    <center>
        <middle>Choose a table</middle><br>
        <a href = currency><button class="button button1">Currencies</button></a>
        <a href = divination><button class="button button1">Divination Cards</button></a>
    <center>
</body>
</html>
