<!DOCTYPE html>
<html>
<script src="{{url_for('static', filename='c_scripts.js')}}"></script>
</script>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='template.css')}}">
</head>
<body>
    <br>
    <center>
        <top>Path of Exile: Expert Trader</top>
        <br>
        <a href = homepage><button class="button button2">Home</button></a>
        <a href = currency><button class="button button2">Currencies</button></a>
        <a href = divination><button class="button button2">Divination Cards</button></a>
    </center>
    <hr>
    <br>
    <center>
        <subtitle>Currency Stats</subtitle><br><br>
        <middle>Optimal Currency Calculator</middle><br>
            <label for="cinput">Amount of Chaos</label>
            <input type="number" id="cinput" name="cinput"><br>
            <input type="submit" value="Find Optimal Currency"><br><br>
        <table class="dataTable" id="CTable">
            <tr>
                <th>Currency   <button class="button button3" onclick="sortName()"><i class="arrow arrowdown"></i></button></th>
                <th>Selling Price</th>
                <th>Buying Price</th>
                <th>Chaos Equivalent</th>
                <th>Exchange Rate   <button class="button button3" onclick="sortExc()"><i class="arrow arrowdown"></i></button></th>
                <th>Return on Investment   <button class="button button3" onclick="sortROI()"><i class="arrow arrowdown"></i></button></th>
            </tr>
            {% for keys in cStats.keys() %}
            <tr>
                <td>{{keys}}</td>
                {% for items in cStats[keys].values()%}
                    <td>{{items}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>