<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='template.css')}}">
</head>
<body>
    <br>
    <center>
        <top>Path of Exile: Expert Trader</top>
        <br>
        <a href = homepage><button class="button button2">Home</button></a>
        <a href = currency><button class="button button2">Currencies</button></a>
        <a href = divination><button class="button button2">Divination Cards</button></a>
    </center>
    <hr>
    <br>
    <center>
    <subtitle>Divination Card Stats</subtitle><br><br>
        <table class="dataTable">
            <tr>
                <th>Divination Card</th>
                <th>Price Per Card</th>
                <th>Trade Item</th>
                <th>Stack Size</th>
                <th>Value of Trade Item</th>
                <th>Price Per Stack</th>
                <th>Net Profit</th>
                <th>Return on Investment</th>
            </tr>
            {% for keys in dStats.keys() %}
            <tr>
                <td>{{keys}}</td>
                {% for items in dStats[keys].values()%}
                    <td>{{items}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>